:root {
     /* Dark Mode */
  --prime-blue: #00a0d6;
  --dull-blue: #364f65;
  --dark-blue: #191e26;
  --font-color: black;
  --card-background: whitesmoke;
  --font-color-inverted: white;
  --light-prime-gray: #32373e;
}

[data-theme="light"] {
       /* Light Mode */
  --prime-blue: #00a0d6;
  --dull-blue: #364f65;
  --dark-blue: #ffffff;
  --font-color: white;
  --card-background: #364f65;
  --font-color-inverted: black;
  --light-prime-gray: #e6ecf5;
}

body {
  margin: 0;
  padding: 0;
}

#app-wrapper {
  background-color: var(--dark-blue);
  transition: 1s;
}


.suspense{
  background-color: white;
}